body {
  /* margin: 0 auto; */
  padding: 0;
  width:100%;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1{
  text-align:center;
  color: #ffffff;
  font-family: Arial;
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;  
}


#root{
  background-image: url(./public/images/background1.png);
  background-repeat: no-repeat;
  width:100%;
  height: 100%;
}

#logo{
  background-image: url(./public/images/logo.png);
  width:80px;
  height: 80px;
  background-repeat: no-repeat;
}

.react-confirm-alert-body h1{
  color: #333;
  font-size: medium;
}

.react-confirm-alert-body button{
  margin-left: 60px;
}


/*--------------------- Login ---------------------------*/
#login{
  margin:0 auto;
  width:60%;
  height: 800px;
}

#login article{
  margin: 0 auto;
  width:320px;
  height: 100px;
  /* border: 2px solid #fff; */
}

#login form{
  margin:0 auto;
  width:40%;
  height: 350px;
  margin-top:60px;
}

#login form input{
  margin:0 auto;
  margin-bottom: 30px;
  width: 250px;
}

#login .icon{
  font-size:20px;
  margin-top:8px;
  margin-right: -20px;
  color: #ffff;
}

#login form label{
  color:#36ac4d;
  font-weight: bold;
  margin-left: 35px;
}

#login form button{
  margin: 30px 0 0 33%;
  background-color: #36ac4d;
  width:150px;
}


/*-------------------------------------------------------*/


/*------------------- Footer ----------------------------*/
footer{
  background-color: #28a745bd;
  width:100%;
  height: 120px;
  color:#ffff;
}

footer .form-row{
  float: right;
  margin-top:25px;
}
/*--------------------------------------------------------*/



/*------------------------ Header ------------------------*/
Header{
  width: 100%;
  height: 100px;
}

.nav-link{
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  margin-right: 20px;
}

header i{
  color:#ffff;
  margin-right: 20px;
}

.active{
  color:#36ac4d;
}

#logoutButton{
  background-color: none;
  margin-right: 20px;
  border-radius: 10px;
}

#logoutButton:hover{
  background-color: #007bff;
}

/*--------------------------------------------------------*/


/*------------------------ Home -------------------------*/
#dashboard{
  margin: 0 auto;
  width:100%;
  height: 800px;
}

#dashboard .input-group{
  margin: 0 auto;
  width: 522px;
  height: 48px;
  border: 1px solid #36ab4c;
  background-color: #ffffff;
}

#boxes{
  /* margin: 0 auto; */
  display: flex;
  flex-direction: left;
  /* flex-wrap: wrap; */
  max-width:80%;
}

#boxes a{
  height: 45px;
  margin: 0 auto;
  margin-left: 15px;
  top:200px;
  text-decoration: none;
  font-weight: bold;
  /* display: inline-block; */
  padding: 8px 16px;
  /* background-color: #f1f1f1; */
  border-radius: 30px;
  position: relative;
}

#boxes a:hover {
  background-color: #4CAF50;
  color: black;
}

.slider-wrapper{
  display: flex;
  flex-direction: left;
}




/*--------------------------------------------------------*/

/*---------------------- Research Box --------------------*/
#researchBox{
  margin: 0 auto;
  width: 247px;
  height: 293px;
  border: 1px solid #30d36a;
  margin-left: 28px;
  margin-top: 80px;  
}

.plus{
  color:#ffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#researchBox img{
  width: 247px;
  height: 133px;
}

#researchBox div{
  background-color: #ffffff;
  width:247px;
  height: 160px;
  border-top:1px solid #6a626240;
}

#researchBox .icons{
  font-size:20px;
  color: #333;
  margin: 0 5px 0 5px;
}

#researchBox .cogIcon{
  float: right;
  margin:5px;
  cursor: pointer;
}

#researchBox span{
  float: right;
  margin-top:18px;
  margin-right: 5px;
}

#researchBox h5{
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color:#36ac4d;
  height: 30px;
  margin: 0px 22px 2px 22px;
}

#researchBox article{
  color: #36ac4d;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 2px 22px 2px 22px;
  height: 55px;
}

#researchBox p{
  width:80%;
  margin-left: 20px;
}

#researchBox h6{
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  margin-right:20px;
  float: right;
  display: inline-block;
}

#researchBox .plus{
  width: 247px;
  height: 133px;
  background-color: #36ab4c;
}

#researchBox .plus h3{
  font-size: 110px;
  text-align: center;
  background-color: #36ab4c;
}



/*--------------------------------------------------------*/

/*--------------------- Research Page -------------------*/

#researchPage{
  width:100%;
  height: 900px;
}

/* .tagIcon{
  color:#ffff;
} */

#researchPage div:nth-child(1){
  width:100%;
}

#researchPage .firstDiv{
  width:100%;
  display: flex;
  flex-direction: row; 
}



#researchPage article{
  /* width: 500px; */
  /* height: 100px; */
  margin-left:40px;
  /* width:40%; */
}


#researchPage article:nth-child(2){
  color:#ffff;
  position: relative;
  left:150px;
  font-size: 18px;
  width:180px;
  margin-top: 20px;
}

#researchPage article:nth-child(3){
  margin-left:80px;
  max-width:300px;
}

/* #researchPage article:nth-child(2){
  color:#ffff;
  font-size: 18px;
  border: 1px solid #689175;
  width:200px;  
} */

#researchPage h2, h3{
  color:#ffff;
}

#researchPage h3{
  margin:20px 0 20px 0;
  font-size: 18px;
}

.line{
  width: 250px;
  height: 10px;
  border-bottom: 1px solid #36ac4d;
  float: left;
}

#researchPage i{
  font-size:20px;
  color: #ffff;
  margin-left: 5px;
}

.dropbtn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  margin-left: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
  left:390px;
  margin-top: 30px;
  border: none;
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.react-confirm-alert-body input{
  margin-left: 70px;
  width:100%;
}

.researchContent{
  margin: 0px 10px 10px 150px;
  width:80%;
  /* height: 520px; */
  /* border: 1px solid #f8f9fa; */
}

.researchContent div{
  float: right;
  width:100px;
  height: 50px;
  margin: 10px 10px 5px 0;
}

.researchContent button{
  margin: 30px 0 0 10px;
  background-color: #36ac4d;
  border-radius: 10px 10px 0 0;
}

.researchContent div select{
  margin: 0 auto;
  border: 2px solid #36ac4d;
}

.researchContent label{
  text-align: center;
  color: #ffff;
  margin-right: 3px;
}

.researchContent p{
  float:right;
  margin: 30px 30px 0 0;
}

.researchContent .grpah{
  width:100%;
  margin:0 auto;
  height: 100%;
  border:1px solid #689175;
  background-color: #06070680;
}

.recharts-legend-item-text{
  color:#ffff;
}

#plantDetails{
  width:100%;
  height:65px;
  text-align: center;
  color:#ffff;
  border: 1px solid #689175;
  margin: 0 auto !important;
}

#plantDetails label{
  font-weight: 500;
  margin-top:15px;
}

#plantDetails label:nth-child(3),#plantDetails label:nth-child(4){
  margin-left: 40px;
}

#plantDetails label:nth-child(5){
  margin-left:180px;
}

/*--------------------------------------------------------*/

/*--------------------- Begin Research ------------------*/
#beginResearch{
  margin:0 auto;
  width: 80%;
  height: 800px;
}

#beginResearch input, textarea{
  width: 327px;
  border: 1px solid #36ab4c;
  margin-left: 20px;
  /* margin-top: 20px; */
}

#beginResearch label, select{
  margin-left: 25px;
  color:#ffff;
}

#beginResearch select{
  width:155px;
  height: 48px;
  /* margin-top:-6px; */
  border: 1px solid #36ab4c;
}

#beginResearch input{
  display: block;
  height: 48px;
}

#beginResearch .date{
  width:180px;
}

#beginResearch .number_of_plants{
  width:155px;
}

#beginResearch textarea{
  height: 109px;
  width: 327px;
  border: 1px solid #36ab4c;
  margin-left: 25px;
  position: relative;
  float: left;
  bottom: 120px;
}

#beginResearch img{
  margin-right: 120px;
  /* margin-top:25px; */
  width: 318px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #36ab4c;
}

#beginResearch button{
  float:right;
  width: 96px;
  height: 48px;
  border: 2px solid #36ab4c;
  margin-top: 40px;
  background-color: Transparent;
  color:#ddd;
  /* margin-top:80px; */
}

#beginResearch button:hover{
  background-color: #36ab4c;
}

#beginResearch .secondDiv{
  width:100%;
  height: 200px;
  margin-top:-100px;
}

#beginResearch .uploadFile{
  margin-left:20px;
  border:2px solid #ddd;
  background-color: #007bff2e;
  border-radius: 5px;
  width:250px;
  height:120px;
}

#beginResearch .fileBox{
  color:#ffff;
  border: none;
  width:220px;
  /* margin-left: 30px; */
}

#beginResearch #goBack{
  float: left;
  margin-left:5px;
}




/*--------------------------------------------------------*/

/* ---------------------- Plant -----------------------------*/
#plant{
  margin: 0 auto;
  width: 50%;
  height: 400px;
}
#plant form{
  margin-top:100px;
}

#plant form button{
  margin-left: 40px;
  width:100px;
  height: 40px;
}

#plant img{
  width:300px;
  height: 300px;
  border-radius: 4px;
}

#plant span{
  float: right;
}
/* -----------------------------------------------------------*/



/* ------------------------ Research History -----------------*/
#research_history{
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

#research_history .table{
  text-align: center;
  margin-top:40px;
  color: #ffffff;
}

#research_history .table tbody tr{
  height:60px;
}


/* #research_history .table tbody :hover{
  background-color: #ced4da;
} */


#research_history .table tbody tr td{
  vertical-align: middle;  
  color: black;
  font-weight: bold;
}

#research_history .react-sweet-progress-circle-outer{
  margin: 0 auto;
}

#research_history .react-sweet-progress-symbol{
  color:#ffff;
}


#research_history .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #5ba768db;
}

#research_history .table-striped > tbody > tr:nth-child(2n +1) > td, .table-striped > tbody > tr:nth-child(2n +1) > th {
  background-color: #ced4dabd;
}

#research_history button{
  border-radius: 10px;
  /* border: 2px solid #ddd; */
  border:2px solid black;
  background-color: transparent;
  /* color:#ffff; */
  color:black; 
}

#research_history button:hover{
  background-color: #28a745;
}

#research_history .pagination{
  margin-top:30px;
}

#research_history .dataTables_length, .dataTables_info{
  color:#ffff;
}

#research_history .page-item.active .page-link{
  background-color: #28a745;
  border-color: #28a745;
}





/* -----------------------------------------------------------*/

/* ------------------------ Progress Bar --------------------*/
.progress-bar{
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  background-color: #f8f9fa;
}

.progressBar{
  width:200px;
  height: 20px;
}



/* -----------------------------------------------------------*/

/* ------------------------ Filler -------------------------*/
.filler{
  background: #28a745;
  height: 100%;
  border-radius: inherit;
  padding-top:20px;
}
/* -----------------------------------------------------------*/


#dtOrderExample .dataTable thead .sorting:after,
#dtOrderExample.dataTable thead .sorting:before,
#dtOrderExample.dataTable thead .sorting_asc:after,
#dtOrderExample.dataTable thead .sorting_asc:before,
#dtOrderExample.dataTable thead .sorting_asc_disabled:after,
#dtOrderExample.dataTable thead .sorting_asc_disabled:before,
#dtOrderExample.dataTable thead .sorting_desc:after,
#dtOrderExample.dataTable thead .sorting_desc:before,
#dtOrderExample.dataTable thead .sorting_desc_disabled:after,
#dtOrderExample.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}


