body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

h1{
  text-align:center;
  color: #ffffff;
  font-family: Arial;
  font-size: 45px;
  font-weight: 700;
  line-height: 68px;  
}


#root{
  background-image: url(./public/images/background.png);
  background-repeat: no-repeat;
  width:100%;
  height: 900px;
}

#logo{
  background-image: url(./public/images/logo.png);
  width:80px;
  height: 80px;
  background-repeat: no-repeat;
}

/*--------------------- Login ---------------------------*/
#login{
  margin:0 auto;
  width:60%;
  height: 800px;
}

#login form{
  margin:0 auto;
  width:40%;
  height: 350px;
  margin-top:60px;
}

#login form input{
  margin:0 auto;
  margin-bottom: 30px;
  width: 250px;
}

#login .icon{
  font-size:20px;
  margin-top:8px;
  margin-right: -20px;
  color: #ffff;
}

#login form label{
  text-align: center;
  color:#36ac4d;
  font-weight: bold;
  margin-left: 30px;
}

#login form button{
  margin: 30px 0 0 25%;
  background-color: #36ac4d;
  width:150px;
}


/*-------------------------------------------------------*/


/*------------------- Footer ----------------------------*/
footer{
  background-color: #28a745;
  width:100%;
  height: 120px;
  color:#ffff;
}
/*--------------------------------------------------------*/



/*------------------------ Header ------------------------*/
Header{
  width: 100%;
  height: 100px;
}

.nav-link{
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  margin-right: 20px;
}

header i{
  color:#ffff;
  margin-right: 20px;
}
/*--------------------------------------------------------*/


/*------------------------ Home -------------------------*/
#dashboard{
  margin: 0 auto;
  width:100%;
  height: 800px;
}


#dashboard .input-group{
  margin: 0 auto;
  width: 522px;
  height: 48px;
  border: 1px solid #36ab4c;
  background-color: #ffffff;
}
/*--------------------------------------------------------*/

/*---------------------- Research Box --------------------*/
#researchBox{
  margin: 0 auto;
  width: 247px;
  height: 293px;
  border: 1px solid #30d36a;
  margin-left: 28px;
  margin-top: 80px;
}

#researchBox img{
  width: 247px;
  height: 133px;
}

#researchBox div{
  background-color: #ffffff;
  height: 160px;
}

#researchBox .icons{
  font-size:20px;
  color: #333;
  margin: 0 5px 0 5px;
}

#researchBox .cogIcon{
  float: right;
  margin:5px;
}

#researchBox span{
  float: right;
  margin-top:18px;
  margin-right: 5px;
}

#boxes{
  display: flex;
  flex-direction: left;
}

#researchBox h5{
  font-family: Arial;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color:#36ac4d;
  height: 30px;
  margin: 0px 22px 2px 22px;
}

#researchBox article{
  color: #36ac4d;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 2px 22px 2px 22px;
  height: 55px;
}

#researchBox p{
  width:80%;
  margin-left: 20px;
}

#researchBox h6{
  color: #36ac4d;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right:20px;
  float: right;
}



/*--------------------------------------------------------*/

/*--------------------- Research Page -------------------*/

#researchPage{
  width:100%;
  height: 800px;
}

#researchPage article{
  width: 500px;
  height: 200px;
  margin-left:70px;
}
#researchPage h2, h3{
  color:#ffff;
}

#researchPage h3{
  margin-top:40px;
  font-size: 18px;
}

.line{
  width: 220px;
  height: 10px;
  border-bottom: 1px solid #36ac4d;
  float: left;
}

#researchPage i{
  font-size:20px;
  color: #ffff;
  margin-left: 5px;
}

.researchContent{
  margin: 10px 10px 10px 150px;
  width:80%;
  height: 500px;
  border: 1px solid #f8f9fa;
}

.researchContent div{
  float: right;
  width:100px;
  height: 50px;
  margin: 10px 40px 5px 0;
}

.researchContent button{
  margin: 5px 0 0 10px;
  background-color: #36ac4d;
  border-radius: 10px 10px 0 0;
}

.researchContent div select{
  margin: 0 auto;
  border: 2px solid #36ac4d;
}

.researchContent label{
  text-align: center;
  color: #ffff;
  margin-right: 3px;
}

.researchContent p{
  float:right;
  margin: 5px 30px 0 0;
}


/*--------------------------------------------------------*/

/*--------------------- Begin Research ------------------*/
#beginResearch{
  margin:0 auto;
  width: 80%;
  height: 800px;
}

#beginResearch input, textarea{
  width: 327px;
  margin-top: 25px;
  border: 1px solid #36ab4c;
  margin-left: 20px;
}

#beginResearch label, select{
  margin-left: 25px;
  color:#ffff;
}

#beginResearch select{
  width:155px;
  height: 48px;
  margin-top:-6px;
  border: 1px solid #36ab4c;
}

#beginResearch input{
  display: block;
  height: 48px;
}

#beginResearch .number_of_plants{
  width:155px;
}

#beginResearch textarea{
  height: 109px;
  width: 327px;
  border: 1px solid #36ab4c;
  margin-left: 25px;
}

#beginResearch img{
  margin-right: 120px;
  margin-top:25px;
  width: 318px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #36ab4c;
}

#beginResearch button{
  float:right;
  width: 96px;
  height: 48px;
  border: 2px solid #36ab4c;
  margin-top:80px;
}

/*--------------------------------------------------------*/

/* ---------------------- Plant -----------------------------*/
#plant{
  margin: 0 auto;
  width: 50%;
  height: 400px;
}
#plant form{
  margin-top:100px;
}

#plant form button{
  margin-left: 40px;
  width:100px;
  height: 40px;
}

#plant img{
  width:300px;
  height: 300px;
  border-radius: 4px;
}

#plant span{
  float: right;
}
/* -----------------------------------------------------------*/



/* ------------------------ Research History -----------------*/
#research_history{
  margin: 0 auto;
  width: 60%;
  height: 800px;
}

#research_history .table{
  text-align: center;
  margin-top:40px;
  color: #ffffff;
}


#research_history .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
  background-color: #689175;
}




#research_history button{
  border-radius: 10px;

}
/* -----------------------------------------------------------*/

/* ------------------------ Progress Bar --------------------*/
.progress-bar{
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
  background-color: #f8f9fa;
}

.progressBar{
  width:200px;
  height: 20px;
}



/* -----------------------------------------------------------*/

/* ------------------------ Filler -------------------------*/
.filler{
  background: #28a745;
  height: 100%;
  border-radius: inherit;
  padding-top:20px;
}
/* -----------------------------------------------------------*/


#dtOrderExample .dataTable thead .sorting:after,
#dtOrderExample.dataTable thead .sorting:before,
#dtOrderExample.dataTable thead .sorting_asc:after,
#dtOrderExample.dataTable thead .sorting_asc:before,
#dtOrderExample.dataTable thead .sorting_asc_disabled:after,
#dtOrderExample.dataTable thead .sorting_asc_disabled:before,
#dtOrderExample.dataTable thead .sorting_desc:after,
#dtOrderExample.dataTable thead .sorting_desc:before,
#dtOrderExample.dataTable thead .sorting_desc_disabled:after,
#dtOrderExample.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}


